<h1 class="alert alert-danger text-center fs-1 m-3">Are you sure you want to delete this?</h1>

<div class="container">

  <table class="table table-bordered table-hover text-center">
    <tbody>
      <tr><th>_Id</th><td>{{this.department._id}}</td></tr>
      <tr><th>Name</th><td>{{this.department.name}}</td></tr>

      <tr><th>Description</th><td>{{this.department.description}}</td></tr>

      <tr><th>Created Date</th><td>{{this.department.createdDate}}</td></tr>
    </tbody>
  </table>

  <button class="btn btn-danger col-3"  (click)="delete()">Confirm Delete</button>
  <a routerLink="/departments" class="btn btn-primary col-3">Back to List</a>
</div>

