<h1 class="alert alert-success text-center fs-1">Edit Department</h1>
<div class="container">

<form (ngSubmit)="onSubmit()" class="col-8">
  <div>
    <label class="mt-3">Name</label>
    <input [(ngModel)]="this.department.name" name="name" class="form-control"/>
  </div>

  <div>
    <label class="mt-3">Description</label>
    <input [(ngModel)]="this.department.description" name="description" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-success mt-3">Edit Department</button>
</form>

</div>
