<!-- <div style="width:700px;height:450px;background-color:aqua;color:brown;text-align:center; border:5px solid black;font-size:36px"> -->
  <div id="div1" class="card">
    <h1 class="text-center mt-5">Home Page </h1>
    <div class="text-center" >
      <!-- <button class="btn btn-outline-primary m-1">Primary</button> -->
      <!-- <button class="btn btn-outline-secondary m-1">Secondary</button> -->
      <!-- <button class="btn btn-outline-success m-1">success</button> -->
      <!-- <img src="../../../public/proxy-image.webp" alt="this Image"> -->
      <h1><span>Name:</span> Karim Hazem Hamed Mohammed</h1>
      <h2><span>Faculty:</span> Computer Science and Artificial Intelligence, Benha University</h2>
      <h3><span>Department:</span> Computer Science</h3>
      <h3><span>Level:</span> 4</h3>
    </div>
</div>

<div class="text-center footer mt-5 mb-5">
  <span class="text-center"> &nbsp;&nbsp;&nbsp;&copy;2024 Copyright:&nbsp;&nbsp;&nbsp; </span> <a class="text-white" href="https://www.sunrise.com">Employee.com</a>
</div>














