<!-- <div class="text-center align-item-center employees"> -->
<!-- <div> -->
  <!-- <button routerLink="employees" class="btn btn-primary mx-5">Employees</button> -->
<!-- </div> -->
<!-- <div> -->
  <!-- <button routerLink="departments" class="btn btn-info mx-5">Department</button> -->
<!-- </div> -->


<!-- </div> -->

<nav class="navbar bg-primary navbar-dark text-white navbar-expand text-light sticky-top">
<div class="container">
    <uL class="navbar-nav">
      <!-- <li class="nav-item"> -->
        <a class="navbar-brand" routerLink="">EM</a>
      <!-- </li> -->
      <li class="nav-item"><a class="text-white nav-link" routerLink="employees">Employees</a></li>
      <li class="nav-item"><a class="text-white nav-link" routerLink="departments">Departments</a></li>
    </uL>
  </div>
</nav>

<router-outlet/>

<hr>


<div>
  <span class="text-white"> &nbsp;&nbsp;&nbsp;&copy;2024 Copyright:&nbsp;&nbsp;&nbsp; </span> <a class="text-white" href="https://www.sunrise.com">Employee.com</a>
</div>
