/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import '~bootstrap-icons/font/bootstrap-icons.css'; */

.employees{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top:200px ;
}
