<h1 class="alert alert-success text-center fs-1">Create New Employee</h1>
<div class="container">
<form (ngSubmit)="onSubmit()" class="col-8">
  <div>
    <label class="mt-3">First Name</label>
    <input [(ngModel)]="employee.firstName" name="firstName" class="form-control"/>
  </div>

  <div>
    <label class="mt-3">Last Name</label>
    <input [(ngModel)]="employee.lastName" name="lastName" class="form-control"/>
  </div>


  <div>
    <label class="mt-3">Position</label>
    <input [(ngModel)]="employee.position" name="position" class="form-control"/>
  </div>

  <div>
    <label class="mt-3">Salary</label>
    <input [(ngModel)]="employee.salary" name="salary" class="form-control"/>
  </div>

  <!-- <div>
    <label class="mt-3">Department</label>
    <input [(ngModel)]="employee.department" name="department" class="form-control"/>
  </div> -->


  <div>
    <label class="mt-3">Department</label>
    <select [(ngModel)]="employee.departmentId" name="departmentId" class="form-control">

      @for (department of this.allDepartments;
      track department) {
        <option [value]="department._id">{{department.name}}</option>
      }

    </select>
  </div>
  <button type="submit" class="btn btn-success mt-3">Add Employee</button>
</form>

</div>

