<h1 class="alert alert-success text-center mb-5 ">Department Page</h1>

<div class="row m-3">
  <div class="input-group col-12" style="width: 100%;">
    <input [(ngModel)] ="this.searchText"
    name="searchText"/>
    <button type="submit" (click)="search()"
     class="btn btn-secondary">
      <i class="bi bi-search"></i></button>
  </div>
</div>

<div class="container">
<table class="table table-bordered table-hover caption-top text-center">
<caption class="fs-1 text-center">Departments</caption>
<thead class="table-dark">
<tr><th>_Id</th><th>Name</th><th>Description</th><th>CreatedDate</th><th>Actions</th></tr>
</thead>
@for(department of this.allDepartments;
  track department) {
    <tr>
      <td>{{department._id}}</td>
      <td>{{department.name}}</td>
      <td>{{department.description}}</td>
      <td>{{department.createdDate}}</td>
      <td>
        <a routerLink="details/{{department._id}}" class="" title="Details">
          <i class="btn btn-primary bi bi-list-ul"></i>
        </a>

          <a routerLink="edit/{{department._id}}"  title="Edit">
            <i class="btn btn-success bi bi-pencil-square"></i>
          </a>

            <a routerLink="delete/{{department._id}}" class="" title="Delete">
              <i class="btn btn-danger bi bi-trash"></i>
            </a>
    </td>
    </tr>
  }
</table>
<a routerLink="add" class="btn btn-success">Create New Department</a>
</div>


