<h1 class="text-center mb-4 mt-4">Employee Details </h1>

<div class="container">

  <table class="table table-bordered table-hover text-center">
    <tbody>
      <tr><th>_Id</th><td>{{this.employee._id}}</td></tr>

      <tr><th>First Name</th><td>{{this.employee.firstName}}</td></tr>

      <tr><th>Last Name</th><td>{{this.employee.lastName}}</td></tr>

      <tr><th>Position</th><td>{{this.employee.position}}</td></tr>

      <tr><th>Salary</th><td>{{this.employee.salary }} EGP</td></tr>

      <!-- <tr><th>Department</th><td>{{this.employee.department}}</td></tr> -->

      <tr><th>Department</th><td>{{this.department.name}}</td></tr>

      <tr><th>Created Date</th><td>{{this.employee.createdDate}}</td></tr>

    </tbody>
  </table>
  <a routerLink="/employees" class="btn btn-dark">Back to Table Employees </a>
</div>

